@import "../variables.scss";

.videoBlock {
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
  .fullWidthVideo {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    &::after {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      content: "";
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .videoLandscape {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.logoHolder {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  overflow: hidden;
  .logoMainImg {
    width: 450px;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .lineDraw {
    margin-top: 30px;
    .lineAnim {
      width: 100%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.3s ease;
      margin: 0 auto;
    }
  }
}

.ctaHolder {
  bottom: 75px;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  .ctaBtn {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: $font1;
    font-size: 3.125em;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    transition: all 0.8s ease;
    padding: 0;
    background: none;
    height: auto;
    line-height: normal;
    border: none;
    border-radius: 0;
    i {
      display: block;
      padding-top: 10px;
      transition: all 0.8s ease;
    }
    &:hover {
      cursor: pointer;
      letter-spacing: 0.07em;
      transition: all 0.8s ease;
      svg {
        transition: all 0.8s ease;
        .arrowBody {
          transform: scaleX(1.5);
          transition: all 0.8s ease;
        }
        .arrowHead {
          transform: translateX(12px);
          transition: all 0.8s ease;
        }
      }
    }
    svg {
      overflow: visible;
      display: block;
      transition: all 0.8s ease;
      g.arrowBody {
        transform-origin: center;
        transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
        transition: all 0.8s ease;
      }
      g.arrowHead {
        transform-origin: center;
        transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
        transition: all 0.8s ease;
      }
      g,
      path {
        transition: all 0.8s ease;
      }
    }
  }
  .cntAnim {
    &.animated {
      &.fadeInUp {
        animation-delay: 2.5s;
      }
    }
  }
}
